---
layout: page
title: 'History &amp; Achievements'
categories:
  - navbar
---


<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Quick links</strong>
        <ul class="list-unstyled">
          {% for post in site.research-projects limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          
          {% include research-quick-links.html %}
        </ul>
      </div>
    </div>

  {% include ways-to-donate.html %}
  {% include ways-to-support-us.html %}

  </div>

<div class="col-xs-12 col-sm-9">

<div class="row">
  <div class="col-xs-12">
      <h3 class="editable">Our Research History &amp; Achievements</h3>

<p class="editable"></p>
  </div>
</div>



  <div class="row">
    <div class="col-xs-12">
      <div class="well">
            <strong class="editable">Research Projects</strong>            
              {% for project in site.research-projects %}
                  <li><a href="{{ project.url }}">{{ project.title }}</a></li>
              {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="well">
            <strong class="editable">Related Trails</strong>
            <p class="editable"></p><p><a href="" class="editable">Read more »</a></p>
            <p></p>
          </div>
    </div>
  </div>

</div>

</div>
{% include latest-news-row.html %}
