---
layout: page
title: 'History &amp; Achievements'
categories:
  - navbar
---


<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Quick links</strong>
        <ul class="list-unstyled">
          {% for post in site.research-projects limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}

          {% include research-quick-links.html %}
        </ul>
      </div>
    </div>

  {% include ways-to-donate.html %}
  {% include ways-to-support-us.html %}

  </div>

<div class="col-xs-12 col-sm-9">

<div class="row">
  <div class="col-xs-12">
      <h3 class="editable">Our Research History &amp; Achievements</h3>

<p class="editable"></p>
  </div>
</div>

{% for post in site.history %}
    <div class="row" id="{{ post.title | url_escape }}">
      <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ post.title }}</h3>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        </div>
      </div>
    </div>
{% endfor %}

{% include research-links/research-projects.html %}
{% include research-links/case-studies.html %}
{% include research-links/related-trials.html %}


</div>

</div>
{% include latest-news-row.html %}
