---
layout: page
title: Donate
categories: [navbar]
currencyIsoCode: GBP
valueA: 10 GBP
valueB: 20 GBP
valueC: 30 GBP
CustomDonation: another value
hero-image-class: donate-hero-image
---
<style>
  ul li {
    list-style-image: none;
    list-style: none;
  }

  .title {
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <p class="editable text-justify">We don’t receive any money from the government and rely solely on voluntary donations to raise the £600K we need each
        year to keep our research work going. You can help us by donating now</p>
      <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#monthly" data-toggle="tab">Monthly</a><li>
          <li role="presentation"><a href="#once" data-toggle="tab">Just Once</a><li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane" id="monthly">
          monthly
        </div>
        <div class="tab-pane" id="once">
          just once
        </div>
      </div>
      {% include support-us-links/tribute-funds.html %}
      {% include support-us-links/fundraise.html %}
      {% include support-us-links/volunteer.html %}

    </div>
  </div>
</div>
