---
layout: page
title: Donate
categories: [navbar]
currencyIsoCode: GBP
valueA: 10 GBP
valueB: 20 GBP
valueC: 30 GBP
CustomDonation: another value
hero-image-class: donate-hero-image
---
<style>
  ul li {
    list-style-image: none;
    list-style: none;
  }

  .title {
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <p class="editable text-justify">We don’t receive any money from the government and rely solely on voluntary donations to raise the £600K we need each
      year to keep our research work going. You can help us by donating now</p>
      <div class="info-boxes" >
        <div class="container">
          <div class="row" style="padding-top: 20px">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    {% include donations/donate-monthly.html %}
                  </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  {% include donations/donate-single.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="row" style="padding-top: 20px">
            <div class="col-md-4" >
            {% include support-us-links/tribute-funds.html %}
            </div>
            <div class="col-md-4">
            {% include support-us-links/fundraise.html %}
            </div>
            <div class="col-md-4">
            {% include support-us-links/volunteer.html %}
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
