---
title: Welcome to the Cancer Vaccine Institute
layout: default
---

<style>
  .intro-header {
    color: #f8f8f8;
    background: url(/assets/images/homepage/jumbotron.jpg) no-repeat bottom center;
    background-size: cover;
    text-align: center;
	padding-top: 70px;
  }
  
  .intro-title h2{
	color: #88165c;
	font-weight: strong;
	
  }
  .banner-support {
    background: url(/assets/images/homepage/banner1.jpg) no-repeat center center;
    background-size: cover;
  }

  .banner-donate {
    background: url(/assets/images/homepage/banner2.jpg) no-repeat center center;
    background-size: cover;
  }

  .banner-text {
    color: white;
    text-align: center;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
</style>


<div class="body-content">
  <div class="intro-title">
	<h2>Changing Lives Through Research</h2>
  </div>
  <div class="intro-header">
	<div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message editable">
            <h1>Transforming the future of cancer treatment</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="editable"></h2>
          <p class="lead editable">We are pioneers in researching cancer vaccines and immunotherapy to improve patients' survival rates and their quality of life for a wide range of cancers.&nbsp;<br />We are dedicated to providing a tailored approach to all our patients giving them every possibility of a successful outcome.</p>

          <p class="lead editable">CVI is a charity with ambition. Their vision is for cancer vaccines to become the standard treatment for improving survival rates and their patients' quality of life for a wide range of cancers. They are the only charity in the UK devoted exclusively to funding research into cancer immunotherapy &amp; vaccines.<br />The charity is a small, approachable and transparent organisation driven by the pioneering and visionary work of the research team at St George's led by Professor Angus Dalgleish.<br />At the heart of the charity is the unique relationship they have with their patients, patients' families, fundraisers and donors. This has not only been built through the incredible clinical achievements and tangible results of the research team but through their attentive and tailored approach to each patient.&nbsp; &nbsp; &nbsp;<a href="/our-research/research-projects/">Find out more &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-donate">
    <div class="container">
      <div class="row">
        <div class="banner-text">
          <h2 class="editable">Donate to the Cancer Vaccine Institue</h2>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="lead editable" style="margin:0">
                Our funds come from charitable trusts and individual fundraisers.
                <br />
                We do not receive funding from the government.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="panel panel-default">
            <div class="panel-body">
              {% include donations/donate-monthly.html %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="panel panel-default">
            <div class="panel-body">
              {% include donations/donate-single.html %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 style="margin-top:0" class="editable">Other ways you can donate</h4>
              <div class="row">
                <div class="col-md-7 editable">
                    <ul>
                      <li>Tribute funds</li>
                      <li>Fundraising</li>
                      <li>Volunteer</li>
                      <li>Corportate support</li>
                    </ul>
                </div>
                <div class="col-md-5">
                  <a href="/support-us/donate/" class="btn btn-success editable" role="button">
                    Find out more
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="banner-support">
    <div class="container">
      <div class="row">
        <div class="banner-text">
          <h2 class="editable">Fight Cancer with us</h2>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-5">
          <div class="panel panel-default">
            <div class="panel-body">

              <h4 style="margin-top:0" class="editable">Ways you can help support us</h4>
              <div class="row">
                <div class="col-md-7 editable">
                    <ul>
                      <li>Fundraise for us</li>
                      <li>Create a Tribute fund</li>
                      <li>Volunteer</li>
                    </ul>
                </div>
                <div class="col-md-5 editable">
                  <a href="/support-us/fundraise/" class="btn btn-success" role="button">
                    Support Us
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a" style="background-color: white">
    {% include latest-news-row.html %}
  </div>
</div>
