<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <strong class="editable h3" style="display:block;margin-top:0px">Donate</strong>
      <p class="editable text-justify">We don&rsquo;t receive any money from the government and rely solely on voluntary donations to raise the &pound;600K we need each year to keep our research work going. You can help us by donating now.</p>
      <p class="editable"><a href="/support-us/donate/">Read more &raquo;</a></p>
      <p></p>
    </div>
  </div>
</div>
