<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <strong class="h3 editable">Fundraise</strong>
      <p class="editable text-justify">We are lucky to have so many fantastic supporters who work hard throughout the year raising money in a variety of ways. From selling their hens' eggs to growing moustaches in November to climbing mountains and hosting grand balls, there are so many different ways to support us and we appreciate each and every one.</p>
      <p class="editable"><a href="/support-us/fundraise/">Read more &raquo;</a></p>
      <p></p>
    </div>
  </div>
</div>
