<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <strong class="editable h3">Tribute Funds</strong>
      <p class="editable text-justify">Setting up a Tribute Fund is a unique and lasting way to honour and remember someone special to you. Named after the person who has died it enables family, friends and colleagues to contribute to the fund either by donating money or raising funds as far into the future as they wish. All of the money raised will support the Cancer Vaccine Institute&rsquo;s pioneering research work and bring hope to future generations.</p>
      <p class="editable"><a href="/support-us/tribute-funds/">Read more &raquo;</a></p>
      <p></p>
    </div>
  </div>
</div>
