<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image" />
        <div class=" col-xs-10">
          <strong class="editable">Volunteer</strong>
          <p class="editable">...</p>
          <p class="editable"><a href="/support-us/volunteer/">Read more &raquo;</a></p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
