---
layout: page
title: About Us
permalink: /about-us/
categories: [navbar]
---
<h2 class="editable">History</h2>
<p class="editable">In 1994, St George's Hospital launched a fundraising appeal to finance the building of facilities for cancer vaccine research and to allow Professor Dalgleish to do clinical trials for a vaccine in malignant melanoma, which had only been available in the USA. The target - £500,000 - was reached in 1996 and the subsequent research showed great promise, but by 2000 it was clear additional funds were required to continue the work. The Cancer Vaccine Institute was launched in 2000 as an independent charity to continue fundraising</p>

<h2 class="editable">Teams</h2>


<div id="teams">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	          Bench workers – meet the scientists
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
			{% include research-team.html %}
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Board of Trustees
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
			{% include board-of-trustees.html %}
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Office Team
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
			{% include office-team.html %}
	      </div>
	    </div>
	  </div>
	</div>
</div>