<div id="trustees" class="container team-container">
	<div class="team-card container">
		<div class="team-card-header col-sm-2">
        	<img src="/assets/images/board-of-trustees/guy-sangster.png" class="img-responsive" />
        </div>
        <div class="team-card-body col-sm-10">
				<h3>Guy Sangster</h3>
            <p>
            	Guy is one of the founding Trustees of the Cancer Vaccine Institute.
            </p>
            <p>
            	He lost his mother to Melanoma in 2000 after a seven year illness, but truly believes that had it not been for Professor Dalgleish and the work of the cancer vaccine programme in the UK and USA, her life would have been a lot shorter.
            </p>
        </div>
    </div>

    <div class="team-card container">
        <div class="team-card-header col-sm-2">
        	<img src="/assets/images/board-of-trustees/harry-cotterell.png" class="img-responsive" />
        </div>
        <div class="team-card-body col-sm-10">
				<h3>Harry Cotterell</h3>
            <p>
            	Harry is our Chairman and is a farmer from Herefordshire.
            </p>
            <p>
                He lost his first wife, Carolyn, to Melanoma in 1999. In the course of her treatment they travelled to the US and to Australia. Harry is convinced that vaccines have a major role to play in the treatment of cancers, particularly as they offer a much better quality of life than most existing therapies.
            </p>
        </div>
    </div>

    <div class="team-card container">
		<div class="team-card-header col-sm-2">
			<img src="/assets/images/board-of-trustees/jemma-freeman.png" class="img-responsive" />
		</div>
		<div class="team-card-body col-sm-10">
			<h3>Jemma Freeman</h3>
			<p>Jemma is the daughter of Nicholas Freeman, one of the founding members of the Cancer Vaccine Institute who lost his battle with melanoma in 2000. </p>

			<p>For the last few years of his life Nicholas was treated by Professor Gus Dalgliesh and was in no doubt that the treatment he underwent both prolonged the length of his life and its quality. </p>

			<p>He very much hoped that the Cancer Vaccine Institute would be able to continue its work and help others in his position. </p>
		</div>
	</div>

	<div class="team-card container">
		<div class="team-card-header col-sm-2">
			<img src="/assets/images/board-of-trustees/lady-rankin.png" class="img-responsive" />
		</div>
		<div class="team-card-body col-sm-10">
			<h3>Lady Rankin</h3>
			<p>
				Suzette lives in Scotland. 
			</p>
			<p>
				Her husband Alick died from cancer in 1999. 
			</p>
			<p>
			Watching cancer research from the sidelines over the last few years, she is convinced that vaccines will become the all-important deterrent in fighting this disease — as they have been for so many other diseases in medical history. Professor Dalgleish's cancer vaccine programme today gives the world hope for tomorrow. 
			</p>
		</div>
	</div>

	<div class="team-card container">
		<div class="team-card-header col-sm-2">
			<img src="/assets/images/board-of-trustees/reshma-ashraf-mason.png" class="img-responsive" />
		</div>
		<div class="team-card-body col-sm-10">
			<h3>Reshma Ashraf Mason</h3>
			<p>
				Reshma is the Company Secretary and one of the founding Trustees of the Cancer Vaccine Institute. 
			</p>

			<p>
				In 1999 she lost her husband to Melanoma but felt it was vital to support Professor Dalgleish and his team. She believes vaccines are the future of cancer treatments. 
			</p>
		</div>
	</div> 
 </div>