<h3>
  <strong>Donate now</strong>
</h3>
<p>We don’t receive any money from the government and rely solely on voluntary donations to raise the £600K we need each year to keep our research work going.&nbsp; You can help us by donating now: </p>
<table width="100%" height="43" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td height="43" align="left">
        <table width="90%" border="0" cellspacing="6" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <strong>We gratefully accept</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" cellspacing="3" cellpadding="3">
          <tbody>
            <tr>
              <td width="55%">
                <img src="/assets/images/support-us/credit-card-logos-web.jpg" alt="" width="225" height="113">
              </td>
              <td width="45%" align="left" valign="top">
                <table cellpadding="0" cellspacing="0" id="stUIigr0uv0052" class="sttb" style="visibility: visible; border: 1px solid rgb(143, 113, 86);" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)">
                  <tbody>
                    <tr class="sttr">
                      <td class="sttd" style="background-color:transparent;">
                        <table cellpadding="0" cellspacing="0'" id="stUIigr0uv0052_body" class="sttb">
                          <tbody>
                            <tr class="sttr">
                              <td class="sttd">
                                <a tabindex="100" onclick="return _STNS.UI.fbDmEnt(event,this)" onkeydown="return _STNS.UI.fbDmEnt(event,this)" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" href="http://cancervaccine.org.uk/donateonlone.html"
                                target="_self" id="stUIigr0uv0053_lnk" class="sta" style="outline:none;text-decoration:none;cursor:hand">
                                  <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="0px" id="stUIigr0uv0053" class="sttb"
                                  style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td id="stUIigr0uv0053_itd" nowrap="" align="left" valign="middle" class="sttd" style="background-color: rgb(0, 102, 153); background-repeat: repeat;">
                                          <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="5" id="stUIigr0uv0053_itb"
                                          class="sttb" style="width:100%;height:100%;">
                                            <tbody>
                                              <tr>
                                                <td id="stUIigr0uv0053_cnt" nowrap="" class="sttd" style="font-size:1pt;" align="left" valign="middle">
                                                  <span id="stUIigr0uv0053_txt" class="stsp" style="color: rgb(255, 255, 255); font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 9pt; line-height: normal; font-family: Arial; text-decoration: none;">Make&nbsp;a&nbsp;donation&nbsp;online</span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </a>
                              </td>
                            </tr>
                            <tr class="sttr">
                              <td class="sttd">
                                <table cellpadding="0" cellspacing="0" id="stUIigr0uv0054" class="sttb" style="font-size:1pt;line-height:1pt;width:100%;height:1px;background-color:#000000;">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle">
                                        <img class="stimg" src="blank.gif" border="0">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr class="sttr">
                              <td class="sttd">
                                <a tabindex="100" onclick="return _STNS.UI.fbDmEnt(event,this)" onkeydown="return _STNS.UI.fbDmEnt(event,this)" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" href="http://cancervaccine.org.uk/donatephone.html"
                                target="_self" id="stUIigr0uv0055_lnk" class="sta" style="outline:none;text-decoration:none;cursor:hand">
                                  <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="0px" id="stUIigr0uv0055" class="sttb"
                                  style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td id="stUIigr0uv0055_itd" nowrap="" align="left" valign="middle" class="sttd" style="background-color: rgb(0, 102, 153); background-repeat: repeat;">
                                          <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="5" id="stUIigr0uv0055_itb"
                                          class="sttb" style="width:100%;height:100%;">
                                            <tbody>
                                              <tr>
                                                <td id="stUIigr0uv0055_cnt" nowrap="" class="sttd" style="font-size:1pt;" align="left" valign="middle">
                                                  <span id="stUIigr0uv0055_txt" class="stsp" style="color: rgb(255, 255, 255); font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 9pt; line-height: normal; font-family: Arial; text-decoration: none;">Make&nbsp;a&nbsp;donation&nbsp;by&nbsp;phone&nbsp;&nbsp;&nbsp;</span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </a>
                              </td>
                            </tr>
                            <tr class="sttr">
                              <td class="sttd">
                                <table cellpadding="0" cellspacing="0" id="stUIigr0uv0156" class="sttb" style="font-size:1pt;line-height:1pt;width:100%;height:1px;background-color:#000000;">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle">
                                        <img class="stimg" src="blank.gif" border="0">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr class="sttr">
                              <td class="sttd">
                                <a tabindex="100" onclick="return _STNS.UI.fbDmEnt(event,this)" onkeydown="return _STNS.UI.fbDmEnt(event,this)" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" href="http://cancervaccine.org.uk/donatepost.html"
                                target="_self" id="stUIigr0uv0157_lnk" class="sta" style="outline:none;text-decoration:none;cursor:hand">
                                  <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="0px" id="stUIigr0uv0157" class="sttb"
                                  style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td id="stUIigr0uv0157_itd" nowrap="" align="left" valign="middle" class="sttd" style="background-color: rgb(0, 102, 153); background-repeat: repeat;">
                                          <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="5" id="stUIigr0uv0157_itb"
                                          class="sttb" style="width:100%;height:100%;">
                                            <tbody>
                                              <tr>
                                                <td id="stUIigr0uv0157_cnt" nowrap="" class="sttd" style="font-size:1pt;" align="left" valign="middle">
                                                  <span id="stUIigr0uv0157_txt" class="stsp" style="color: rgb(255, 255, 255); font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 9pt; line-height: normal; font-family: Arial; text-decoration: none;">Make&nbsp;a&nbsp;donation&nbsp;by&nbsp;post</span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </a>
                              </td>
                            </tr>
                            <tr class="sttr">
                              <td class="sttd">
                                <table cellpadding="0" cellspacing="0" id="stUIigr0uv0158" class="sttb" style="font-size:1pt;line-height:1pt;width:100%;height:1px;background-color:#000000;">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle">
                                        <img class="stimg" src="blank.gif" border="0">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr class="sttr">
                              <td class="sttd">
                                <a tabindex="100" onclick="return _STNS.UI.fbDmEnt(event,this)" onkeydown="return _STNS.UI.fbDmEnt(event,this)" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" href="http://cancervaccine.org.uk/tributefunds.html"
                                target="_self" id="stUIigr0uv0159_lnk" class="sta" style="outline:none;text-decoration:none;cursor:hand">
                                  <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="0px" id="stUIigr0uv0159" class="sttb"
                                  style="width:100%;">
                                    <tbody>
                                      <tr>
                                        <td id="stUIigr0uv0159_itd" nowrap="" align="left" valign="middle" class="sttd" style="background-color: rgb(153, 51, 153); background-repeat: repeat;">
                                          <table cellspacing="0" onmouseover="return _STNS.UI.fbDmEnt(event,this)" onmouseout="return _STNS.UI.fbDmEnt(event,this)" onmousemove="return _STNS.UI.fbDmEnt(event,this)" cellpadding="5" id="stUIigr0uv0159_itb"
                                          class="sttb" style="width:100%;height:100%;">
                                            <tbody>
                                              <tr>
                                                <td id="stUIigr0uv0159_cnt" nowrap="" class="sttd" style="font-size:1pt;" align="left" valign="middle">
                                                  <span id="stUIigr0uv0159_txt" class="stsp" style="color: rgb(255, 255, 255); font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 9pt; line-height: normal; font-family: Arial; text-decoration: none;">Donate&nbsp;to&nbsp;a&nbsp;Tribute&nbsp;Fund</span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <script type="text/javascript" language="javascript1.2">
                  _STNS.UI.oUIs['stUIigr0uv0052'].fbShow();
                  _STNS.UI.oUIs['stUIigr0uv0052'].fbInit();
                </script>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="90%" border="0" cellspacing="6" cellpadding="0">
          <tbody>
            <tr>
              <td>If you have any problems with the forms or procedures please don't hesitate to contact us on 0845 6020662 or by email <a href="mailto:info@cancervaccine.org.uk">info@cancervaccine.org.uk</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
