<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <h3>
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="U6SWMXZ3WLWLQ">
    <input type="image" src="/assets/images/support-us/Donate_button.png" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1"> Include Gift Aid
  </h3>
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <h3>
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="WNEEPW3BMCP5N">
    <input type="image" src="/assets/images/support-us/Donate_button.png" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1"> Do Not Include Gift Aid
  </h3>
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="2P5Y5BYST6G9Q">
  <table>
    <tbody>
      <tr>
        <td>
          <input type="hidden" name="on0" value="">
        </td>
      </tr>
      <tr>
        <td>
          <select name="os0">
            <option value="Option 1">Option 1 : £5.00 GBP - monthly</option>
            <option value="Option 2">Option 2 : £10.00 GBP - monthly</option>
            <option value="Option 3">Option 3 : £15.00 GBP - monthly</option>
            <option value="Option 4">Option 4 : £20.00 GBP - monthly</option>
            <option value="Option 5">Option 5 : £25.00 GBP - monthly</option>
            <option value="Option 6">Option 6 : £30.00 GBP - monthly</option>
            <option value="Option 7">Option 7 : £40.00 GBP - monthly</option>
            <option value="Option 8">Option 8 : £50.00 GBP - monthly</option>
            <option value="Option 9">Option 9 : £60.00 GBP - monthly</option>
            <option value="Option 10">Option 10 : £70.00 GBP - monthly</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>
    <input type="hidden" name="currency_code" value="GBP">
    <input type="image" src="/assets/images/support-us/Donate-monthly.png" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1"> Include Gift Aid
  </h3>
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="939B6Z5LVBJC2">
  <table>
    <tbody>
      <tr>
        <td>
          <input type="hidden" name="on0" value="">
        </td>
      </tr>
      <tr>
        <td>
          <select name="os0">
            <option value="Option 1">Option 1 : £5.00 GBP - monthly</option>
            <option value="Option 2">Option 2 : £10.00 GBP - monthly</option>
            <option value="Option 3">Option 3 : £15.00 GBP - monthly</option>
            <option value="Option 4">Option 4 : £20.00 GBP - monthly</option>
            <option value="Option 5">Option 5 : £25.00 GBP - monthly</option>
            <option value="Option 6">Option 6 : £30.00 GBP - monthly</option>
            <option value="Option 7">Option 7 : £40.00 GBP - monthly</option>
            <option value="Option 8">Option 8 : £50.00 GBP - monthly</option>
            <option value="Option 9">Option 9 : £60.00 GBP - monthly</option>
            <option value="Option 10">Option 10 : £70.00 GBP - monthly</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>
    <input type="hidden" name="currency_code" value="GBP">
    <input type="image" src="/assets/images/support-us/Donate-monthly.png" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1"> Do Not Include Gift Aid
  </h3>
</form>
