
<div class="row">
	<div class="row">
		<h3>Monthly donation</h3>
		<p>
			Please select a monthly amount you would like to donate.
		</p>
	</div>
	<div class="row donation">
		<div class="col-md-6">
			<div class="row">
				<div class="input-group">
					<div class="input-group-btn" data-toggle="buttons">
						 <label class="btn btn-primary">
							<input type="radio" name="options" id="option1" autocomplete="off">£30
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="options" id="option2" autocomplete="off">£20
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="options" id="option3" autocomplete="off">£10
						</label>
					</div>
        			<span class="input-group-addon">£</span>
					<input type="number" min="0" class="form-control currency donation-input" placeholder="100">
				</div>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-5">
			<div class="row" style="display: flex; align-items: center;">
				<div class="col-xs-8">
					Monthly contribution
				</div>
				<div class="col-xs-4">
					<button class="btn btn-primary" type="button" data-donation-type="monthly">Donate</button>
				</div>
			</div>
		</div>
	</div>
</div>
