<style>
  .Toolbar {
    position: relative;
    display: table;
    float: left;
  }

  .donation-box {
    height: inherit;
    padding:10px;
  }

  .Toolbar > div {
    padding-right: 8px;
    float: left;
  }
</style>
<div class="donation-box col-md-12">
  <p class="title">Monthly donation</p>
  <p>Please select a monthly amount you would like to donate.</p>
  <div class="col-md-12">
    <div class="Toolbar">
      <div class="btn-group" role="group" aria-label="Monthly donation">
        <button type="button" class="btn btn-default btn-primary">{{ page.valueA }}</button>
        <button type="button" class="btn btn-default btn-primary">{{ page.valueB }}</button>
        <button type="button" class="btn btn-default btn-primary">{{ page.valueC }}</button>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="custom-donation-value">or</span>
        <input type="text" class="form-control" placeholder="{{ page.CustomDonation }}" aria-describedby="custom-donation-value" style="width:inherit">
      </div>
      <div class="input-group">
        <input type="submit" value="Donate" class="btn btn-primary" />
      </div>
    </div>
  </div>
</div>
