<div class="row">
	<div id="office-team" class="container team-container">
			<div class="team-card container">
				<div class="team-card-header col-sm-2">
					<img src="/assets/images/office-team/abi-parry-williams.png" class="img-responsive editable" />
				</div>
				<div class="team-card-body col-sm-10 editable">
					<h3>Abi Parry-Williams, Fundraising Assistant </h3>
					<p>Whilst this is Abi's first job in the charity sector, she has always been involved in fundraising — from doing a 24 hour sponsored fast as a teenager, to completing the London to Brighton Bike Ride 4 times! Having had a break of 7 years to raise her two children, she was keen to take a job that felt really worthwhile and finds that working for the Cancer Vaccine Institute for the last 6 months has certainly been that.</p>
				</div>
			</div>

			<div class="team-card container">
				<div class="team-card-header col-sm-2">
					<img src="/assets/images/office-team/lucy-deville.png" class="img-responsive editable" />
				</div>
				<div class="team-card-body col-sm-10 editable">
					<h3>Lucy Deville</h3>
					<p>
						Lucy was Appeal Director at St George's Hospital where a successful fundraising appeal raised funds for cancer vaccine research. 
					</p>
					<p>
						This early research showed such promise that she was delighted to be asked to help with founding the CVI as an independent charity. 
						She works as Secretary to the Trustees, co-ordinates the Peer Review process for research projects and monitors projects funded by the CVI at other centres. 
					</p>
				</div>
			</div>

			<div class="team-card container">
				<div class="team-card-header col-sm-2">
					<img src="/assets/images/office-team/marie-dimond.png" class="img-responsive editable" />
				</div>
				<div class="team-card-body col-sm-10 editable">
					<h3>Marie Dimond, Fundraising Manager </h3>
					<p>
						Marie has 20 years' fundraising experience in a variety of organisations but with a special interest in medical research charities. She is delighted to be working at the CVI at such an exciting time and is looking forward to the challenges of raising the funds needed to maintain our research projects and increasing our profile within the charity sector.
					</p>
				</div>
			</div>
	</div>
</div>