<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image" />
        <div class=" col-xs-10">
          <strong>{{ include.title }}</strong>
          <p>{{ include.description }}</p>
          <p class="editable"></p><p><a href="{{ include.link }}">Read more &raquo;</a></p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
