<div class="panel panel-default">
  <div class="panel-body editable">
      <p>
          <strong>Ways you can Donate</strong>
      </p>
          <ul>
              <li>One-off donation</li>
              <li>Monthly recurring donation</li>
              <li>Donate to a tribute fund</li>
              <li>Leave a donation in your Will</li>
              <li>Corporate Support</li>
          </ul>
          <p>
              <a class="btn btn-warning btn-block hvr-buzz-out" href="/support-us/donate">Donate</a>
          </p>
      </div>
</div>
