<div id="donate-panel" class="panel panel-default">
  <div class="panel-body editable">
      <p>
          <strong>Donate</strong>
      </p>
        <ul>
            <li>One-off donation</li>
            <li>Monthly donation</li>
            <li>Donate to a tribute fund</li>
            <li>Donation in your Will</li>
            <li>Corporate Support</li>
        </ul>
        <p>
            <a class="btn btn-block donate-button" href="/support-us/donate">Donate</a>
        </p>
    </div>
</div>
