header {
  min-height: 200px;
  &.default-hero-image {
    background: url("/assets/images/homepage/banner1.jpg") no-repeat center center;
    background-size: cover;
  }

  &.fundraising-hero-image {
    background: url("/assets/images/fundraising-page/hero.png") no-repeat center center;
    background-size: cover;
  }

  &.donate-hero-image {
    background: url("/assets/images/donate/hero.jpg") no-repeat center center;
    background-size: cover;
  }

  &.research-project-hero-image {
    background: url("/assets/images/research-project/hero.jog") no-repeat center center;
    background-size: cover;
  }

  &.case-studies-hero-image {
    background: url("/assets/images/case-studies/hero.jpg") no-repeat center center;
    background-size: cover;
  }

  h1 {
    position: relative;
    top: 10px;
    left: 10px;
    color: #fff;
  }
}
