header {
  min-height: 200px;
  &.default-hero-image {
    background: url("/assets/images/homepage/banner1.jpg") no-repeat center center;
    background-size: cover;
  }

  &.hero-image {
    background: url("/assets/images/homepage/banner1.jpg") no-repeat center center;
    background-size: cover;
  }

  h1 {
    position: relative;
    top: 10px;
    left: 10px;
    color: #fff;
  }
}
