<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <strong class="editable">Related Trials</strong>
      <p class="editable text-justify">The EU Clinical Trials Register contains information on interventional clinical trials on medicines conducted in the European Union (EU), or the European Economic Area (EEA) which started after 1 May 2004.</p>
      <p class="editable"><a href="https://www.clinicaltrialsregister.eu/about.html">EU Clinical trials register database &raquo;</a></p>
      <p></p>
    </div>
  </div>
</div>
