<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image" />
        <div class=" col-xs-10">
          <strong class="editable">Related Trials</strong>
          <p class="editable">The EU Clinical Trials Register contains information on interventional clinical trials on medicines conducted in the European Union (EU), or the European Economic Area (EEA) which started after 1 May 2004.</p>
          <p class="editable"><a href="https://www.clinicaltrialsregister.eu/about.html">EU Clinical trials register database &raquo;</a></p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
