---
layout: page
title: Research Projects
categories: [navbar]
---


<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Quick links</strong>
        <ul class="list-unstyled">
          <li><a href="#">Project name 1</a></li>
          <li><a href="#">Project name 2</a></li>
          <li><a href="#">Project name 3</a></li>
          <li><a href="#">Project name 4</a></li>
          {% include research-quick-links.html %}
        </ul>
      </div>
    </div>

    {% include ways-to-donate.html %}
    {% include ways-to-support-us.html %}

  </div>

  <div class="col-xs-12 col-sm-9">

    <div class="row">
      <div class="col-xs-12">
          <h3>Latest Project</h3>
          <ul class="list-unstyled">
            <li>
          <strong>Project name</strong>
          <p>content goes here</p>
          <a href="#">Back to top</a>
        </li>
      </ul>

          <h3>Previous Project</h3>
          <ul class="list-unstyled">
            <li>
                <strong>Project name</strong>
                <p>content goes here</p>
                <a href="#">Back to top</a>
            </li>
            <li>
                <strong>Project name</strong>
                <p>content goes here</p>
                <a href="#">Back to top</a>
            </li>
            <li>
                <strong>Project name</strong>
                <p>content goes here</p>
                <a href="#">Back to top</a>
            </li>
          </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <div class="row">
          <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image">
            <div class=" col-xs-10">
              <strong>Research Projects</strong>
              <p>Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.
                <p><a href="">Read more &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="well">
          <div class="row">
          <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image">
            <div class=" col-xs-10">
              <strong>Research History &amp; Achievements</strong>
              <p>Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.
                <p><a href="/our-research/history/">Read more &raquo;</a></p>
              </p>
            </div>
          </div>
      </div>
    </div>
      <div class="col-xs-12">
        <div class="well">
          <div class="row">
          <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image">
            <div class=" col-xs-10">
              <strong>Related Trails</strong>
              <p>Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.
                <p><a href="https://www.clinicaltrialsregister.eu/about.html">EU Clinical trials register database &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
{% include latest-news-row.html %}
