---
layout: page
title: Research Projects
categories:
  - navbar
hero-image-class: research-project-hero-image
---

<div class="row">
  <div class="col-sm-3 hidden-xs">

    {% include ways-to-donate.html %}
    {% include ways-to-support-us.html %}

  </div>

  <div class="col-xs-12 col-sm-9">

    <div class="row">
      <div class="col-xs-12">
        <p class="editable">
          TODO
        </p>
          <ul class="list-unstyled">
            {% for post in site.research-projects %}
              <li class="project-item">
                <h4>{{ post.title }}</h4>
                <p>{{ post.content }}</p>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>

    {% include research-links/history-and-achievements.html %}
    {% include research-links/case-studies.html %}
    {% include research-links/related-trials.html %}

  </div>

</div>
{% include latest-news-row.html %}
