.donation {
    .input-group-addon {
        background-color: transparent;
        border-right: transparent;
        text-align: right;
        padding-right: 3px;
    }
    
    .donation-input {
        border-left: transparent;
        padding-left: 0;
    }
    
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }    
}