// Left panel
#support-us-panel {
    ul {
        margin-left: -38px;
        font-size: 13px;
        list-style: none;
    }

    li {
        margin-bottom: 10px;
    }

    a.btn {
        margin-top: 20px;
    }
}