---
layout: page
title: Case Studies
categories: [navbar]
---


<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Quick links </strong>
        <ul class="list-unstyled">
          <li><a href="#">Case Study 1</a></li>
          <li><a href="#">Case Study 2</a></li>          
          {% include research-quick-links.html %}
        </ul>
      </div>
    </div>

  {% include ways-to-donate.html %}
  {% include ways-to-support-us.html %}

  </div>

<div class="col-xs-12 col-sm-9">
<div class="row">
  <div class="col-xs-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tony Lee</h3>
    </div>
    <div class="panel-body">
      <p>Four years ago whilst on holiday a friend pointed out that  she did not like the very dark colour of a mole that was behind my ear.  On returning I made an appointment to see a  skin specialist who looked at the mole and said it should be excised and seemed  keen to book me into the day surgery that day. Two weeks later I had the mole  removed and was notified it was a malignant melanoma.</p>
                <p>In September 2009, whilst undergoing a routine 3 monthly  check I was found to have a second malignant melanoma.  A sentinal node biopsy was found to be  positive in both axilla. It was also found to contain metastatic deposits of  melanoma. This was devastating news for me as this was not what was expected  from a thin melanoma.</p>
                <p>I was given several options, and decided to have one lymph  gland removed and leave the other one, thus qualifying for the min tub trial  (ultrasound every 3 months) and clinical trials such as avastin.</p>
                <p>In June 2010, Professor Dalgleish administered the first BCG  vaccine.</p>
                    <p>I am now delighted to be in remission.  I have regular checks with both the Oncology  and Melanoma Clinics.</p>
                    <p>I am so grateful to my doctors, including Professor  Dalgleish and all at the CVI.  As my way  of saying “thank you”, I organised a fundraising bike ride to Paris from Thames  Ditton (360 miles!).  I enlisted 10 other  riders to take part and was delighted to raise £10,000 for the CVI.   I also wanted to raise awareness of this  amazing charity whose research really makes a difference – more people need to  know about it.</p>
    </div>
    </div>
  </div>
  <div class="col-xs-4">
    <img src="/assets/images/migrated/tony-lee.jpg" class="img-responsive" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Peter Cook</h3>
    </div>
    <div class="panel-body">
      <p>Peter Cook took part in a cancer  vaccine trial and describes his experience:</p>
                <p>“Back in 1996 aged just  twenty-five, I had mole removed that had some cell abnormalities… cancer wasn’t  mentioned. Five years later I developed swollen lymph glands and alump under my  left armpit and was diagnosed as having malignant melanoma. Surgery followed  including four craniotomy procedures when lesions were discovered in my brain.</p>
                <p>Having tried various unsuccessful  approaches my treatment options were running out. I was fortunate to be  recommended to Professor Dalgleish and as a result able to follow a course of  dendritic cell cancer vaccine coupled with m-vaccae and thalidomide.</p>
                <p>I have been living with cancer  now for sixteen years and for seven of those I have had no further relapses and  no detectable signs of cancer.</p>
                <p>Given my treatment has necessarily  not followed a standard treatment plan, it cannot be proven if one, all or the  combination of these various treatments has made the difference. However the  remission has followed commencement of dendritic cell treatment. </p>
                <p>Whilst the demons never  disappear, I am living a normal life. I feel that fitness has benefited me if  not in being more resilient, at least in feeling I am, so I try to exercise  frequently. I have taken part in the London Marathon and recently completed a  half iron-man raising funds for the CVI. </p></td>
            </tr>
          </table>
          <p>Throughout my treatment, I have  been fortunate to keep working full-time, currently managing European  operations, comprising of a network of offices and logistics centres. This is a  role I had not dreamt of attaining during my surgery and treatment several  years ago.”</p>
    </div>
    </div>
  </div>
  <div class="col-xs-4">
    <img src="/assets/images/migrated/peter-cook.jpg" class="img-responsive" alt="Responsive image">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image">
        <div class=" col-xs-10">
          <strong class="editable">Research Projects</strong>
          <p class="editable">Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.
            <p><a href="" class="editable">Read more &raquo;</a></p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image">
        <div class="col-xs-10">
          <strong class="editable">Research History & Achievements</strong>
          <p class="editable">Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.
            <p><a href="" class="editable">Read more &raquo;</a></p>
          </p>
        </div>
      </div>
  </div>
</div>
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image">
        <div class=" col-xs-10">
          <strong class="editable">Related Trails</strong>
          <p class="editable">Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.
            <p><a href="" class="editable">Read more &raquo;</a></p>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

</div>
{% include latest-news-row.html %}
