---
layout: page
title: Case Studies
categories:
  - navbar
hero-image-class: case-studies-hero-image
---


<div class="row">
  <div class="col-sm-3 hidden-xs">
  {% include ways-to-donate.html %}
  {% include ways-to-support-us.html %}
  </div>

<div class="col-xs-12 col-sm-9 case-studies">
<p class="editable">We have a long list of patients who have done extremely well as patients of Professor Dalgleish. These may have attended his NHS or private clinics, or been referred for trials by him. Here are just a few of their stories. For press enquiries please <a href="/contact-us/">Contact Us </a>.</p>

{% for post in site.case-studies | sort %}
    <div class="row" id="{{ post.title | url_escape }}">
      <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ post.title }}</h3>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        </div>
      </div>
    </div>
{% endfor %}


{% include research-links/research-projects.html %}
{% include research-links/achievements.html %}
{% include research-links/related-trials.html %}

</div>

</div>
{% include latest-news-row.html %}
