.case-studies {
  .left-image {
    float: left;
    margin: 15px;
    width: 30%;
  }

  .right-image {
    float: right;
    margin: 15px;
    width: 30%;
  }
}

.case-study {
    img {
        max-width: 100%;
    }
}