.navbar-brand {
  background: url("/assets/images/mobile-tablet-logo.png") no-repeat;
  background-size: contain;
  padding-left: 165px;
  @media (min-width: $screen-md-min) {
    background: url("/assets/images/desktop-logo.png") no-repeat;
    background-size: contain;
  }
}
