.navbar-brand {
  background: url("/assets/images/mobile-tablet-logo.png") no-repeat;
  background-size: contain;
  background-position: 7px 19px;
  width: 150px;
  @media (min-width: $screen-md-min) {
    background: url("/assets/images/desktop-logo.png") no-repeat;
    background-size: contain;
    background-position: 5px 14px;
    width: 200px;
  }

}

@media (max-width:767px) { 
	button.navbar-toggle {
	    float: left !important;
	}
}