---
layout: page
title: Store
categories: [navbar]
hero-image-class: donate-hero-image
---
<style>
  ul li {
    list-style-image: none;
    list-style: none;
  }

  .title {
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <p class="editable text-justify">We don’t receive any money from the government and rely solely on voluntary donations to raise the £600K we need each
        year to keep our research work going. You can help us by donating now</p>

      <div class="row" id="products">
          <button
                class="snipcart-add-item"
                data-item-id="2"
                data-item-name="Bacon"
                data-item-price="3.00"
                data-item-weight="20"
                data-item-url="http://myapp.com/products/bacon"
                data-item-description="Some fresh bacon">
                    Buy bacon
            </button>
       
      </div>

      {% include support-us-links/tribute-funds.html %}
      {% include support-us-links/fundraise.html %}
      {% include support-us-links/volunteer.html %}
      
    </div>
  </div>
</div>

