---
layout: page
title: Fundraise
categories:
  - navbar
---


<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body editable"><p><strong>Quick links </strong></p><ul class="list-unstyled"><li><a href="/support-us/donate/index.html">Donate</a></li><li><a href="/support-us/volunteer/index.html">Volunteer</a></li></ul></div>
    </div>

  {% include ways-to-donate.html %}
  {% include ways-to-support-us.html %}

  </div>

<div class="col-xs-12 col-sm-9">

<div class="row">
  <div class="col-xs-12 editable"><p>We are lucky to have so many fantastic supporters who work hard throughout the year raising money in a variety of ways. From selling their hens' eggs to growing moustaches in November to climbing mountains and hosting grand balls, there are so many different ways to support us and we appreciate each and every one.</p><p><strong>Challenge yourself</strong></p><p>We are registered with <a href="http://www.doitforcharity.com">www.doitforcharity.com</a> which offers a wide variety of runs and challenges which you can do to raise money for the CVI.</p><p>There are so many ways in which you can fundraise for us and we'd love yo hear from you.<br /><a href="/contact-us/">Contact us for a fundraising pack.</a></p></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image" />
        <div class="col-xs-10 editable"><p><strong>Donate</strong></p><p>Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.</p><p><a class="cc-active" href="/support-us/donate/index.html">Read more &raquo;</a></p><p>&nbsp;</p></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
      <img src="/assets/images/migrated/jo-and-jen-10k-monica-W.jpg" class="img-responsive col-xs-2" alt="Responsive image" />
        <div class=" col-xs-10 editable"><p><strong>Volunteer</strong></p><p>Lorem ipsum dolor sit amet, an magna offendit ius, viris lobortis ut usu, eros expetenda qualisque ei vix. Eum malis detracto adolescens an. Ad nam quaeque antiopam, et usu meis soluta, possim mediocritatem cum ut. Ullum torquatos id qui, ut labores deleniti pri. An nullam erroribus sed, ea duo convenire evertitur constituto. Te tale accusata suavitate usu, sit ea amet sanctus scriptorem.</p><p><a class="cc-active" href="/support-us/volunteer/index.html">Read more &raquo;</a></p><p>&nbsp;</p></div>
      </div>
  </div>
</div>

</div>
</div>

</div>
{% include latest-news-row.html %}
