---
layout: page
title: Fundraise
categories:
  - navbar
hero-image-class: fundraising-hero-image
---

<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 editable text-justify"><p>We are lucky to have so many fantastic supporters who work hard throughout the year raising money in a variety of ways. From selling their hens' eggs to growing moustaches in November to climbing mountains and hosting grand balls, there are so many different ways to support us and we appreciate each and every one.</p><p><strong>Challenge yourself</strong></p><p>We are registered with <a href="http://www.doitforcharity.com" target="_blank">www.doitforcharity.com</a> which offers a wide variety of runs and challenges which you can do to raise money for the CVI.</p><p>There are so many ways in which you can fundraise for us and we'd love yo hear from you.<br /><a href="/contact-us/">Contact us for a fundraising pack.</a></p></div>
    </div>

    {% include support-us-links/donate.html %}
    {% include support-us-links/tribute-funds.html %}
    {% include support-us-links/volunteer.html %}

  </div>
</div>
{% include latest-news-row.html %}
