---
layout: page
title: Tribute Funds
categories: [navbar]
---

<div class="row">
  <div class="col-sm-3 hidden-xs">

    {% include ways-to-donate.html %}
    {% include ways-to-support-us.html %}

  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="row text-justify">
        <div class="col-xs-12 editable">
          <p>  Setting up a Tribute Fund is a unique and lasting way to honour and remember someone special to you. Named after the person who has died it enables family, friends and colleagues to contribute to the fund either by donating money or raising funds as far into the future as they wish. All of the money raised will support the Cancer Vaccine Institute’s pioneering research work and bring hope to future generations.</p>
        
          <p>Setting up a fund is easy and the CVI will handle all the administration as well as providing regular updates on how the
          fund is growing. We can even set up a unique page on our website with details of the fund and an option for people
          to support it.</p>
        
          <p>Any money that has previously been donated In Memory can be used to start a Tribute Fund.</p>
          <p><a href="/assets/docs/tribute-funds/leaflet.pdf" target="_blank">For more details, click here.</a></p>
        </div>
    </div>
    
            <div class="row">
        <div class="col-xs-12">
                <p>
                    <ul class="list-unstyled">
                      {% for post in site.tribute-funds %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                      {% endfor %}
                    </ul>
                </p>
            </div>
            {% include support-us-links/donate.html %}
            {% include support-us-links/fundraise.html %}
            {% include support-us-links/volunteer.html %}
      </div>
  </div>
</div>
