---
layout: page
title: 'Achievements'
categories:
  - navbar
---


<div class="row">
  <div class="col-sm-3 hidden-xs">
    {% include ways-to-donate.html %}
    {% include ways-to-support-us.html %}
  </div>

<div class="col-xs-12 col-sm-9">
  <p class="editable">This page lists some of the achievements of our Principal, Professor Gus Dalgleish and his team, both before and during the existence of the Cancer Vaccine Institute.</p>

{% assign items = site.achievements | sort: 'date' %}
{% for post in items reversed %}
    <div class="row" id="{{ post.title | url_escape }}">
      <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ post.title }}</h3>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        </div>
      </div>
    </div>
{% endfor %}

{% include research-links/research-projects.html %}
{% include research-links/case-studies.html %}
{% include research-links/related-trials.html %}

</div>

</div>
{% include latest-news-row.html %}
